$desk1920 : "all and (max-width:1920px)";
$mindesk1920 : "all and (min-width:1920px)";
$desk1640 : "all and (max-width:1640px)";
$mindesk1640 : "all and (min-width:1640px)";
$desk1490 : "all and (max-width:1490px)";
$desk1368 : "all and (max-width:1368px)";
$desk1290 : "all and (max-width:1290px)";
$desk1279 : "all and (max-width:1279px)";
$ipadLand : "all and (max-width:1024px)";
$ipadPort : "all and (max-width:992px)";
$miniDivce: "all and (max-width:767px)";
$iphone6: "all and (max-width:480px)";
$iphone4: "all and (max-width:320px)";