//font-family
$opensans : 'Open Sans', sans-serif;
$headerbg: #1e4185;
// font color
$fontColorBody: #191919;
$fontColorLinks: #aa9169;
$bodyBg: #f4f4f4;
$filterHeadBg: #ededed;
$btnBg: #cbb592;
$btnOrderSampleBg: #b29979;
$borderFooterColor : #e3e3e3;
$productBorderTopColor : #ede5d8;
//$productDetailSliderBorderColor : #ede5d8;
