<section class="row gutter-0 cp-marketplace">
    <div class="container">
        <div class="col-md-12 cp-featured">
            <div class="cp-listing-title">
                <div class="pull-left">
                    <h2 class="p">Featured Cloud Servers</h2>
                    <p>Check out what others are using</p>
                </div>
                <div class="pull-right">
                    <button href="" class="btn cp-view-all">view all</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="cp-item-listing">
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="cp-server-item">
                            <img src="./images/windowsserver.jpg" alt="windows server">
                            <div class="cp-server-details">
                                <p>
                                    Donec nec justo eget felis facilisis fermentum.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</section>
