<section class="row gutter-0 login">
    <div class="container">

        <div class="col-md-6">
            <figure class="imghvr-zoom-out-left">
                <img src="./images/image1.jpg">
                <a href="#/marketplace">

                    <figcaption>
                        <div class="cp-caption-details">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                            <div class="clearfix"></div>
                            <button class="btn" ng-href="#/offer">view all</button>
                        </div>

                    </figcaption>
                </a>


            </figure>
        </div>
        <div class="col-md-6">
            <figure class="imghvr-zoom-out-right">
                <img src="./images/image2.jpg">
                <a href="#/vms">

                    <figcaption>
                        <div class="cp-caption-details">
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
                            <div class="clearfix"></div>
                            <button class="btn" ng-href="#/vms">view all</button>
                        </div>
                    </figcaption>
                </a>

            </figure>
        </div>
    </div>

</section>
